html5lib
httplib2
python-dateutil
simplejson
feedparser
xlrd

git+http://github.com/zepheira/zenpub#egg=zen
git+http://github.com/zepheira/akara.git#egg=akara
git+http://github.com/zepheira/amara.git#egg=amara
